<script setup>
//import {ref, watch, defineEmits} from 'vue';
import { ref, watch } from 'vue';

const emits = defineEmits(['setState']);//para informar al compoennte padre sobre los cambios

const props = defineProps({
    states: Array,//arreglo de estados disponibles: noraml y en oferta
    state: String,////valor actual
});

const selectedState = ref(props.state || ''); // Asegurarse de que selectedState.value tenga un valor definido

const selectState = (stateSlug) => {
    if (!selectedState.value.includes(stateSlug)) {
        selectedState.value === ''
            ? selectedState.value = stateSlug 
            : selectedState.value += ',' + stateSlug;
    } else {
        selectedState.value = !Array.isArray(selectedState.value) 
            ? selectedState.value.split(',')
            : selectedState.value;
        
        let index = selectedState.value.indexOf(stateSlug);

        selectedState.value.splice(index, 1);

        selectedState.value = selectedState.value.join(',');
    }
};

watch(() => props.state, () => {
    selectedState.value = props.state || ''; // Asegurarse de que selectedState.value tenga un valor definido
});

watch(() => selectedState.value, () => {
    emits('setState', selectedState.value);
});

</script>

<template>
    <section class="p-6 pb-0">
        <span class="block font-medium text-xs uppercase mb-4">{{$t('TipoDeOferta')}}</span>

        <ul class="">
            <li
                v-for="state in states"
                :key="state.id"
                @click="selectState(state.slug)" 
                class="text-xs text-zinc-500 flex items-start space-x-2 cursor-pointer px-2 py-1 rounded"
                :class="{ 'font-medium text-zinc-900 bg-zinc-100': selectedState && selectedState.includes(state.slug) }"> 

                <div
                    class="w-4 h-4 flex justify-center items-center cursor-pointer rounded flex-none"
                    :class="[ selectedState && selectedState.includes(state.slug) ? 'bg-c-green-600' : 'bg-zinc-300' ]">

                    <!-- Check svg -->
                    <svg
                        v-if="selectedState && selectedState.includes(state.slug)" 
                        class="w-3 h-3 text-white" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                    </svg>
                </div>
                <div class="flex items-center justify-between w-full">
                    <span class="block">{{ $t(state.name) }}</span>
                    <span class="text-xxs block font-semibold bg-zinc-200 px-1.5 py-0.5 text-zinc-500 rounded">
                        {{ state.products_count }}
                    </span>
                </div>
            </li>
        </ul>
    </section>
</template>
