<script setup>
import { ref } from "vue";
import ShopLayout from "@/Layouts/ShopLayout.vue";
import { Inertia } from "@inertiajs/inertia";

const props = defineProps({
    products: Array,
    savedProducts: Array,
    total: String | Number,
});

</script>
<script>
import Modal from "./ModalQr.vue";
import UploadModal from './UploadModal.vue';

export default {
    components: {
        Modal,
        UploadModal,
    },
    data() {
        return {
            modalOpen: false,
            uploadModalOpen: false,
        };
    },
    methods: {
        openModal() {
            this.modalOpen = true;
        },
        closeModal() {
            this.modalOpen = false;
        },
        openUploadModal() {
            this.uploadModalOpen = true;
        },
        comprarProductos() {
            Inertia.post(route('checkout.store'), {
                products: this.products,
                total: this.total,
            });
        },
    }
};

// const comprarProductos = () => {
//     Inertia.post(route('checkout.store'), {
//         products: props.products,
//         total: props.total,
//     });
// };
</script>

<template>
    <ShopLayout>

        <Head title="Checkout" />
        <div class="max-w-2xl mx-auto">
            <header class="py-6 border-b border-zinc-200">
                <h2 class="text-2xl uppercase font-medium">{{$t('Metodo de Pago')}}</h2>
                <div class="flex items-center justify-between">
                    <div class="flex justify-between">
                        <div class="bg-white rounded-lg shadow-2xl m-5 p-6 max-w-sm border-4">
                            <h5 class="text-lg font-bold mb-2">{{$t('Pago por Qr')}}</h5>
                            <p class="text-gray-700 text-base">
                                {{$t('Puede pagar con su telefono movil escaneando el codigo qr')}}.
                            </p>
                            <button @click="openModal" class="flex justify-center items-center bg-c-green-600 hover:bg-c-green-300 text-white  py-2 px-4 rounded mt-4">
                                {{$t('Generar Qr')}}
                            </button>
                            <Modal :isOpen="modalOpen" @close="comprarProductos()" />
                        </div>

                        <div class="bg-white rounded-lg shadow-2xl m-5 p-6 max-w-sm border-4">
                            <h5 class="text-lg font-bold mb-2">{{$t('Pago por Depósito')}}</h5>
                            <p class="text-gray-700 text-base">
                                {{$t('Puede pagar por depósito en efectivo en nuestra cuenta: 123456789-23')}}
                            </p>
                            <button @click="openUploadModal" class="flex justify-center items-center bg-c-green-600 hover:bg-c-green-300 text-white  py-2 px-4 rounded mt-4">
                                {{$t('Enviar Comprobante')}}
                            </button>
                            <UploadModal :isOpen="uploadModalOpen" @close="comprarProductos()" />
                        </div>
                    </div>
                </div>
            </header>
        </div>
    </ShopLayout>
</template>

<style lang="scss" scoped>
#container-checkout {
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    max-width: 600px;
}

.container {
    height: 38px;
    display: inline-block;
    border: 1px solid rgb(118, 118, 118);
    border-radius: 2px;
    padding: 1px 2px;
}
</style>