<template>
    <div v-if="isOpen" class="modal fixed inset-0 z-50 overflow-y-auto flex items-center justify-center">
        <div class="modal-container px-4">
            <div class="modal-content bg-slate-200 rounded-lg shadow-lg p-7 max-w-md border-slate-300 border-4">
                <h2 class="text-xl font-bold mb-4">{{$t('Pague por Qr')}}</h2>
                <p class="mb-4">{{$t('Escanea el código QR para pagar')}}
                </p>
                <QrcodeVue
                    value="https://tailwindcss.com/docs/box-shadow"
                    :size="300"
                    :bg-color="'#ffffff'"
                    :fg-color="'#000000'"
                    :margin="3"
                />
                <button @click="closeModal" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded mt-5">
                    {{$t('Cerrar')}}
                </button>
            </div>
        </div>
    </div>
</template>


<script>

import QrcodeVue from 'qrcode.vue';

export default {
    props: {
        isOpen: {
            type: Boolean,
            required: true,
        },
    },
    methods: {
        closeModal() {
            this.$emit('close');
        },
    },
    components: {
        QrcodeVue,
    },
};
</script>