<script setup>
import ShopLayout from "@/Layouts/ShopLayout.vue";
import { Inertia } from "@inertiajs/inertia";
</script>

<template>
    <ShopLayout>

        <Head title="Confirm" />

        <div class="max-w-2xl mx-auto">
            <header class="py-6 border-b border-zinc-200">
                <h1 class="text-2xl font-semibold">Order Confirmation</h1>
            </header>

            <div class="py-6">
                <div class="flex items-center justify-between">
                    <div class="flex items center">
                        <div class="mr-4">
                            <svg class="w-8 h-8 text-green-500" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M5 13l4 4L19 7"></path>
                            </svg>
                        </div>
                        <div>
                            <h2 class="text-lg font-semibold">Order Confirmed</h2>
                            <p class="text-sm text-gray-600">Your order has been confirmed and is being processed.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ShopLayout>
</template>