<template>
    <div v-if="isOpen" class="modal fixed inset-0 z-50 overflow-y-auto">
        <div class="modal-container flex items-center justify-center min-h-screen px-4">
            <div class="modal-content bg-slate-200 rounded-lg shadow-lg p-6 max-w-md border-slate-300 border-4">
                <h2 class="text-xl font-bold mb-4">{{$t('Enviar comprobante')}}</h2>
                <p class="mb-4">{{$t('Sube una imagen o PDF de tu comprobante de pago')}}</p>
                <input type="file" accept=".png,.jpg,.pdf" @change="handleFileUpload" 
                class="block w-full text-sm text-slate-500 m-3
                        file:mr-4 file:py-2 file:px-4
                        file:rounded-full file:border-1
                        file:text-sm file:font-semibold
                        file:bg-violet-50 file:text-black
                        hover:file:bg-violet-100
                        "/>

                <div v-if="previewUrl" class="mb-4 p-3">
                    <img :src="previewUrl" alt="Vista previa" class="max-w-full h-auto" />
                </div>
                <div class="flex justify-between">
                    <button @click="closeModal" class="bg-c-green-600 hover:bg-c-green-300 text-white font-bold py-2 px-4 rounded">
                        {{$t('Enviar')}}
                    </button>
                    <button @click="closeModal" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">
                        {{$t('Cancelar')}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        isOpen: {
            type: Boolean,
            required: true,
        },
    },
    methods: {
        closeModal() {
            this.$emit('close');
        },
        handleFileUpload(event) {
            const file = event.target.files[0];

            // Generar la URL de la vista previa
            if (file) {
                const reader = new FileReader();
                reader.onload = (e) => {
                    this.previewUrl = e.target.result;
                };
                reader.readAsDataURL(file);
            } else {
                this.previewUrl = null;
            }
        },
    },
    data() {
        return {
            previewUrl: null,
        };
    },
};
</script>