<template>
    <Head title="Add Product" />
    <AuthenticatedLayout>
      <div class="py-12">
        <div class="mx-auto max-w-7xl sm:px-6 lg:px-8">
          <div class="overflow-hidden bg-white shadow-sm sm:rounded-lg">
            <div class="p-6 bg-white border-b border-gray-200">
              <AddProduct :categories="categories" :states="states" />
            </div>
          </div>
        </div>
      </div>
    </AuthenticatedLayout>
  </template>
  
  <script setup>

  import AddProduct from '@/Components/AddProduct.vue';
  import { Head } from '@inertiajs/inertia-vue3';
  
  defineProps({
    categories: Array,
    states: Array,
  });
  </script>
  