<script setup>
import { ref } from "vue";
import { computed } from 'vue';
import ShopLayout from "@/Layouts/ShopLayout.vue";
import { Inertia } from "@inertiajs/inertia";

const props = defineProps({
    products: Array,
    savedProducts: Array,
    total: String | Number,
});

const productImageJpg = computed(() => {
    return (product) => {
        const previewImage = product.images.find(image => image.is_preview);
        return previewImage ? previewImage.url : '/images/ropa.jpg';
    };
});

const processing = ref(false);
const clicked = ref(false);

const increase = (id) => {
    Inertia.patch(route("cart.increase", { id: id }), [], {
        onStart: () => {
            processing.value = true;
        },
        onFinish: () => {
            processing.value = false;
        },
    });
};

const decrease = (id) => {
    Inertia.patch(route("cart.decrease", { id: id }), [], {
        onStart: () => {
            processing.value = true;
        },
        onFinish: () => {
            processing.value = false;
        },
    });
};

const removeItem = (id) => {
    Inertia.delete(route("cart.destroy", { id: id }));
};

const saveForLater = (id) => {
    Inertia.post(route("cart.saveForLater", { id: id }));
};

const moveToCart = (id) => {
    Inertia.post(route("cart.moveToCart", { id: id }));
};

const emptyCart = () => {
    Inertia.delete(route("cart.empty"));
};

const total = () => {
    return props.total;
};



const checkout = () => {
    Inertia.get(route("checkout"));
};

// const mp = new MercadoPago("{{ config('services.mercadopago.key') }}", {
//     locale: "es-MX",
// });

// mp.checkout({
//     preference: {
//         id: "{{ $preference -> id }}",
//     },
//     render: {
//         container: ".cho.container", // Indica dónde se mostrará el botón de pago
//         label: "Pagar", //Cambia el texto del botón de pago (opcional)
//     },
// });
</script>

<template>
    <ShopLayout>
        <Head title="Cart" />

        <div class="max-w-2xl mx-auto">
            <header class="py-6 border-b border-zinc-200">
                <h2 class="text-2xl uppercase font-medium">{{ $t('ShoppingCart')}}</h2>
                <div class="flex items-center justify-between">
                    <span v-if="products.length > 0" class="text-zinc-500 text-sm">
                        {{ $t('YouHave') }} {{ products.length }}
                        {{ products.length === 1 ? $t('product') : $t('products') }} {{ $t('In') }}
                        {{ $t('YourCart') }}
                    </span>

                    <p v-else class="text-zinc-500 text-sm">
                        {{ $t('YourCartIsEmpty')}}.
                        <Link :href="route('shop')" class="text-c-green-600"
                            >{{ $t('ContinueShopping')}}</Link
                        >
                    </p>

                    <form
                        @submit.prevent="emptyCart()"
                        v-if="products.length > 0"
                    >
                        <button
                            type="submit"
                            class="text-zinc-500 text-xs hover:underline"
                        >
                            {{$t('EmptyCart')}}
                        </button>
                    </form>
                </div>
            </header>

            <section v-if="products.length > 0">
                <table class="w-full my-5">
                    <tr class="">
                        <th
                            class="text-left font-normal uppercase text-xxs text-zinc-400 pb-6"
                        >
                            {{ $t ('ProductDetails') }}
                        </th>
                        <th
                            class="text-left font-normal uppercase text-xxs text-zinc-400 pb-6"
                        >
                            {{ $t('Quantity') }}
                        </th>
                        <th
                            class="text-left font-normal uppercase text-xxs text-zinc-400 pb-6"
                        >
                            {{  $t('Price') }}
                        </th>
                        <th
                            class="text-left font-normal uppercase text-xxs text-zinc-400 pb-6 hidden sm:block"
                        >
                            {{ $t ('Total') }}
                        </th>
                    </tr>

                    <tr v-for="product in products" :key="product.id">
                        <td>
                            <div class="flex items-start space-x-4 mb-6">
                                <Link
                                    :href="
                                        route('product.show', {
                                            slug: product.slug,
                                        })
                                    "
                                    class="w-40 h-30"
                                >
                                <img :src="productImageJpg(product)" alt="product_image" class="w-full h-full object-cover" />
                                <!-- <img :src="productImageJpg" alt="product_image" class="w-full h-full object-contain" /> -->
                            </Link>

                                <div class="flex flex-col justify-around">
                                    <span class="text-sm font-medium">{{
                                        product.name
                                    }}</span>

                                    <div class="flex items-center space-x-2">
                                        <form
                                            @submit.prevent="
                                                removeItem(product.id)
                                            "
                                        >
                                            <button
                                                type="submit"
                                                class="text-zinc-500 hover:underline text-xxs"
                                            >
                                                {{ $t('Remove') }}
                                            </button>
                                        </form>
                                        <form
                                            @submit.prevent="
                                                saveForLater(product.id)
                                            "
                                        >
                                            <button
                                                type="submit"
                                                class="text-zinc-500 hover:underline text-xxs"
                                            >
                                                {{  $t('SaveForLater') }}
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td class="text-sm align-top">
                            <div
                                class="flex flex-col sm:flex-row items-center sm:space-x-2 sm:space-y-0 space-y-1"
                            >
                                <form @submit.prevent="decrease(product.id)">
                                    <button
                                        type="submit"
                                        :disabled="processing"
                                        :class="
                                            processing
                                                ? 'bg-zinc-300'
                                                : 'bg-zinc-300 hover:bg-c-green-300 hover:text-white'
                                        "
                                        class="w-4 h-4 rounded flex items-center justify-center transition"
                                    >
                                        &minus;
                                    </button>
                                </form>
                                <span class="font-medium">{{
                                    product.pivot.quantity
                                }}</span>
                                <form @submit.prevent="increase(product.id)">
                                    <button
                                        type="submit"
                                        :disabled="processing"
                                        :class="
                                            processing
                                                ? 'bg-zinc-300'
                                                : 'bg-zinc-300 hover:bg-c-green-300 hover:text-white'
                                        "
                                        class="w-4 h-4 rounded flex items-center justify-center transition"
                                    >
                                        &plus;
                                    </button>
                                </form>
                            </div>
                        </td>
                        <td class="text-sm align-top">
                            <span class="text-sm"
                                ><span class="text-c-green-600 font-medium"
                                    >$</span
                                >{{ product.price }}</span
                            >
                        </td>
                        <td class="text-sm align-top hidden sm:block">
                            <span class="text-sm"
                                ><span class="text-c-green-600 font-medium"
                                    >$</span
                                >{{
                                    (
                                        product.pivot.quantity * product.price
                                    ).toFixed(2)
                                }}</span
                            >
                        </td>
                    </tr>
                </table>

                <footer class="flex justify-end py-6 border-t border-zinc-200">
                    <div class="space-y-3 w-1/3">
                        <div class="flex items-center justify-between">
                            <span class="text-zinc-500 uppercase text-xs"
                                >{{ $t('Total') }}</span
                            >
                            <span class="text-sm"
                                ><span class="text-c-green-600 font-medium"
                                    >$</span
                                >{{ total() }}</span
                            >
                        </div>

                        <Link
                            as="button"
                            @click="checkout()"
                            class="flex justify-center items-center text-xxs bg-c-green-600 hover:bg-c-green-300 w-full py-3 text-white uppercase cursor-pointer rounded"
                        >
                            <span class="cho.container">{{ $t('Pay')}}</span>
                        </Link>
                    </div>
                </footer>
            </section>

            <section v-if="savedProducts.length > 0" class="mt-10">
                <header class="mb-5">
                    <h2 class="text-lg uppercase font-medium">
                        {{ $t('SavedProducts')}}
                    </h2>
                    <span class="text-zinc-500 text-xs"
                        >{{$t('YouHave')}} {{ savedProducts.length }}
                        {{
                            savedProducts.length === 1 ? "product" : "products"
                        }}
                        {{$t('Saved')}}</span
                    >
                </header>

                <transition-group name="list">
                    <div
                        v-for="product in savedProducts"
                        :key="product.id"
                        class="flex items-start space-x-4 mb-4 bg-zinc-100 rounded p-4"
                    >
                        <Link
                            :href="
                                route('product.show', { slug: product.slug })
                            "
                            class="w-16 h-20"
                        >
                            <img
                                :src="productImageJpg(product)"
                                alt="product_image"
                                class="w-full h-full object-contain px-3"
                            />
                        </Link>

                        <div class="w-full">
                            <div
                                class="sm:flex sm:items-start sm:justify-between sm:mb-2 sm:space-y-0 space-y-1"
                            >
                                <span class="text-sm sm:text-xs font-medium">{{
                                    product.name
                                }}</span>
                                <form @submit.prevent="removeItem(product.id)">
                                    <button
                                        type="submit"
                                        class="text-zinc-600 flex items-center space-x-1 hover:text-zinc-800"
                                    >
                                        <svg
                                            class="w-4 h-4 flex-none"
                                            fill="none"
                                            stroke="currentColor"
                                            viewBox="0 0 24 24"
                                            xmlns="http://www.w3.org/2000/svg"
                                        >
                                            <path
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                                stroke-width="2"
                                                d="M5 5a2 2 0 012-2h10a2 2 0 012 2v16l-7-3.5L5 21V5z"
                                            ></path>
                                        </svg>
                                        <span
                                            class="block text-xs text-zinc-600"
                                            >{{ $t('RemoveFromSavedForLater')}}</span
                                        >
                                    </button>
                                </form>
                            </div>

                            <form
                                @submit.prevent="moveToCart(product.id)"
                                class="mb-2 mt-2 sm:mt-0"
                            >
                                <button
                                    type="submit"
                                    class="text-zinc-600 flex items-center space-x-1"
                                >
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        width="24"
                                        height="24"
                                        viewBox="0 0 24 24"
                                        fill="none"
                                        stroke="currentColor"
                                        stroke-width="2"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        class="feather feather-shopping-bag flex-none text-zinc-600 w-[17px] h-[17px]"
                                    >
                                        <path
                                            d="M6 2L3 6v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V6l-3-4z"
                                        ></path>
                                        <line
                                            x1="3"
                                            y1="6"
                                            x2="21"
                                            y2="6"
                                        ></line>
                                        <path d="M16 10a4 4 0 0 1-8 0"></path>
                                    </svg>
                                    <span class="block text-xs text-zinc-600"
                                        >{{ $t('MoveToCart')}}</span
                                    >
                                </button>
                            </form>

                            <span class="text-sm"
                                ><span class="text-c-green-600 font-medium"
                                    >$</span
                                >{{ product.price }}</span
                            >
                        </div>
                    </div>
                </transition-group>
            </section>
        </div>
    </ShopLayout>
</template>
