<script setup>
import DashboardLayout from "@/Layouts/DashboardLayout.vue";
import { Head } from "@inertiajs/inertia-vue3";
import { Inertia } from '@inertiajs/inertia';
import { ref, watch } from "vue";
import DataTable from 'datatables.net-vue3';
import DataTablesLib from 'datatables.net';
import Buttons from 'datatables.net-buttons-bs5';
import ButtonHtml5 from 'datatables.net-buttons/js/buttons.html5';
import print from 'datatables.net-buttons/js/buttons.print';
import pdfmake from 'pdfmake';
import pdffonts from 'pdfmake/build/vfs_fonts';
import 'datatables.net-responsive-bs5';
import JSZip from "jszip";

// Definir props para recibir el objeto orderP
const props = defineProps({
  orderP: Object,
});

// Formatear los datos del objeto orderP para su uso en DataTable

if (pdffonts.pdfMake && pdffonts.pdfMake.vfs) {
    pdfMake.vfs = pdffonts.pdfMake.vfs;
}
window.JSZip = JSZip;
DataTable.use(DataTablesLib);
DataTable.use(pdfmake.vfs);
DataTable.use(Buttons);

const orderPData = ref(props.orderP);
watch(() => props.orderP, (newOrderP) => {
    orderPData.value = newOrderP; // Actualiza los datos de orderP cuando cambian los props
});

const columns = [
    { data: null, render: function (data, type, row, meta) { return `${meta.row + 1}`; } },
    { data: 'fecha', className: 'text-center font-medium text-xs px-4 py-3',
        render: function (data) {
            // Formatear la fecha en el formato YYYY-MM-DD
            const formattedDate = new Date(data).toISOString().split('T')[0];
            return formattedDate;
        }
    },
    { data: 'unit_price', className: 'text-center font-medium text-xs px-4 py-3' },
    { data: 'total_amount', className: 'text-center font-medium text-xs px-4 py-3' },
    {  data: 'paymentsType',className: 'text-center font-medium text-xs px-4 py-3'},
    { data: 'productsName',  className: 'text-center font-medium text-xs px-4 py-3' },
    { data: 'categoriesName',  className: 'text-center font-medium text-xs px-4 py-3' },
    { data: 'quantity',  className: 'text-center font-medium text-xs px-4 py-3' }
];

const botones = [
    {
        title: 'Reporte de Ventas',
        extend: 'excelHtml5',
        text: '<i class="fa-solid fa-file-excel"></i> Excel',
        className: 'bg-green-500 text-white hover:bg-green-600 px-4 py-2 rounded-md',
    },
    {
        title: 'Reporte de Ventas',
        extend: 'pdfHtml5',
        text: '<i class="fa-solid fa-file-pdf"></i> PDF',
        className: 'bg-red-500 text-white hover:bg-red-600 px-4 py-2 rounded-md'
    },
    {
        title: 'Reporte de Ventas',
        extend: 'print',
        text: '<i class="fa-solid fa-file-print"></i> Print',
        className: 'bg-gray-800 text-white hover:bg-gray-500 px-4 py-2 rounded-md'
    },
    {
        title: 'Reporte de Ventas',
        extend: 'copy',
        text: '<i class="fa-solid fa-copy"></i> Copiar Texto',
        className: 'bg-gray-200 text-gray-800 hover:bg-gray-300 px-4 py-2 rounded-md'
    },
]


</script>

<style>
@import 'datatables.net-bs5';
@import 'datatables.net-dt';

/* Estilos adicionales para DataTable*/

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th,
.table td {
    border: 1px solid #e2e8f0;
    padding: 8px;
    text-align: left;
}

.table th {
    background-color: #f7fafc;
    font-weight: bold;
}

.table-responsive {
    overflow-x: auto;
}
.dataTable-search-input {
    padding: 10px;
    width: 300px;
    border: 2px solid #4CAF50;
    border-radius: 4px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.dataTable-search-input:focus {
    border-color: #3e8e41;
    box-shadow: 0 0 5px rgba(62, 142, 65, 0.5);
}


</style>


<template>
    <DashboardLayout>

        <Head title="My Sale" />
        <h2 class="font-medium uppercase text-2xl mb-4">{{ $t('MySale') }}</h2>
        <div class="">
            <div class="container mx-auto">
                <div class="overflow-x-auto">
                    <DataTable :data='orderPData' :columns="columns"  class="table" :options="{
                        responsive: true, autoWidth: false, dom: 'Bfrtip',  pagingType: 'simple_numbers',pageLength: 10 , language: {
                            search: 'Buscar', zeroRecords: 'No hay registros para mostrar',
                            info: '',
                            paginate: { first: 'Primero', previous: 'Anterior', next: 'Siguiente', last: 'Ultimo'
                             }
                        }, buttons: botones
                    }">
                        <thead>
                            <tr class="w-full bg-white border-b">
                                <th class="text-left font-medium text-xs px-4 py-3 w-16">#</th>
                                <th class="text-center font-medium text-xs px-4 py-3">{{ $t('PurchasedOn') }}</th>
                                <th class="text-center font-medium text-xs px-4 py-3">{{ $t('PriceUnit') }}</th>
                                <th class="text-center font-medium text-xs px-4 py-3">{{ $t('Total') }}</th>
                                <th class="text-center font-medium text-xs px-4 py-3">{{ $t('Type') }}</th>
                                <th class="text-center font-medium text-xs px-4 py-3">{{ $t('Name') }}</th>
                                <th class="text-center font-medium text-xs px-4 py-3">{{ $t('Category') }}</th>
                                <th class="text-center font-medium text-xs px-4 py-3">{{ $t('Items') }}</th>
                                
                            </tr>
                        </thead>
                    </DataTable>
                </div>
            </div>
        </div>
    </DashboardLayout>
</template>