<template>
    <div>
      <h1>{{  $t ('AddNewProduct') }}</h1>
      <form @submit.prevent="submit">
        <div>
          <label for="name">{{ $t ('Name') }}:</label>
          <input id="name" v-model="form.name" type="text" required>
        </div>
        <div>
          <label for="description">{{  $t ('Description') }}:</label>
          <textarea id="description" v-model="form.description" required></textarea>
        </div>
        <div>
          <label for="price"> {{ $t ('Price') }}:</label>
          <input id="price" v-model="form.price" type="number" step="0.01" required>
        </div>
        <div>
          <label for="quantity">{{ $t('AvailableQuantity') }}:</label>
          <input id="quantity" v-model="form.available_quantity" type="number" required>
        </div>
        <div>
          <label for="category">{{ $t ('Category') }}:</label>
          <select id="category" v-model="form.category_id" required>
            <option v-for="category in categories" :key="category.id" :value="category.id">{{ category.name }}</option>
          </select>
        </div>
        <div>
          <label for="state">{{ $t ('State') }}:</label>
          <select id="state" v-model="form.state_id" required>
            <option v-for="state in states" :key="state.id" :value="state.id">{{ state.name }}</option>
          </select>
        </div>
        <div>
            <label for="images">{{ $t ('Images') }}:</label>
            <input id="images" type="file" multiple @input="form.images = $event.target.files" required>
            </div>
        <button type="submit">{{  $t ('AddProduct') }}</button>
      </form>
    </div>
  </template>
  
  <script setup>
  import { reactive } from 'vue';
  import { Inertia } from '@inertiajs/inertia';
  
  const props = defineProps({
  categories: Array,
  states: Array,
});
  const form = reactive({
    name: '',
    description: '',
    price: 0,
    available_quantity: 0,
    category_id: null,
    state_id: null,
    images: [],
  });
  
  //const errors = reactive({});

  function submit() {
    Inertia.post('/admin/products', form, {
        onSuccess: (response) => {
            const product = response.props.product;

            // Preparar los datos de las imágenes
            const imageData = form.images.map((image) => ({
                url: image.path, // Asume que `image.path` contiene la URL de la imagen
                is_preview: false, // Establecer `is_preview` a `false` para las imágenes adicionales
            }));

            // Crear las imágenes asociadas al producto
            product.images().createMany(imageData);

            // Restablecer el formulario u otra lógica adicional
            form.images = [];
            // ...
        },
        onError: (errors) => {
            errors.value = errors;
        },
    });
}

  </script>
  <style scoped>
  h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }
  
  form {
    background: #f7f7f7;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  form div {
    margin-bottom: 10px;
  }
  
  form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  form input[type="text"],
  form input[type="number"],
  form textarea,
  form select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box; /* Para que el padding no afecte el ancho total */
  }
  
  form textarea {
    height: 100px;
  }
  
  form button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #5cb85c;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  form button:hover {
    background-color: #4cae4c;
  }
  
  /* Añadir más estilos según sea necesario */
  </style>