<template>
  <div>
    <h1>{{$t('EditProduct')}}</h1>
    <form @submit.prevent="submit">
      <div>
        <label for="name">{{$t('Name')}}:</label>
        <input id="name" v-model="form.name" type="text" required>
      </div>
      <div>
        <label for="description">{{$t('Description')}}:</label>
        <textarea id="description" v-model="form.description" required></textarea>
      </div>
      <div>
        <label for="price">{{$t('Price')}}:</label>
        <input id="price" v-model="form.price" type="number" step="0.01" required>
      </div>
      <div>
        <label for="quantity">{{$t('AvailableQuantity')}}:</label>
        <input id="quantity" v-model="form.available_quantity" type="number" required>
      </div>
      <div>
        <label for="category">{{$t('Category')}}:</label>
        <select id="category" v-model="form.category_id" required>
          <option v-for="category in categories" :key="category.id" :value="category.id">{{ category.name }}</option>
        </select>
      </div>
      <div>
        <label for="state">{{$t('State')}}:</label>
        <select id="state" v-model="form.state_id" required>
          <option v-for="state in states" :key="state.id" :value="state.id">{{ state.name }}</option>
        </select>
      </div>
      <div>
        <label for="images">{{$t('Images')}}:</label>
        <input id="images" type="file" multiple @input="form.images = $event.target.files">
      </div>
      <button type="submit">{{$t('UpdateProduct')}}</button>
    </form>
  </div>
</template>

<script setup>
import { reactive } from 'vue';
import { Inertia } from '@inertiajs/inertia';

const props = defineProps({
  product: Object,
  categories: Array,
  states: Array
});

const form = reactive({
  name: props.product.name,
  description: props.product.description,
  price: props.product.price,
  available_quantity: props.product.available_quantity,
  category_id: props.product.category_id,
  state_id: props.product.state_id,
  images: [], // Inicialmente sin imágenes
});

function submit() {
  Inertia.put(`/admin/products/${props.product.id}`, form, {
    onSuccess: () => {
      alert('Product updated successfully!');
    },
    onError: errors => {
      console.error('Error updating product:', errors);
    }
  });
}
</script>
<style scoped>
  h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }
  
  form {
    background: #f7f7f7;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  form div {
    margin-bottom: 10px;
  }
  
  form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  form input[type="text"],
  form input[type="number"],
  form textarea,
  form select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box; /* Para que el padding no afecte el ancho total */
  }
  
  form textarea {
    height: 100px;
  }
  
  form button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #5cb85c;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  form button:hover {
    background-color: #4cae4c;
  }
  
  /* Añadir más estilos según sea necesario */
  </style>
