<script setup>
import { Inertia } from "@inertiajs/inertia";
import { usePage } from "@inertiajs/inertia-vue3";
import { computed } from 'vue';
import { useStore } from 'vuex';
const store = useStore();

// Acceder al rol del usuario usando una propiedad computada
const userRole = computed(() => store.getters.role_id);


const props = defineProps({
    product: Object,
});

const inWhishlist = (id) => {
    return usePage().props.value.whishlist.find((product) => {
        return product.id === id;
    }) ? true : false;
};

const toggleWhishlist = () => {
    Inertia.post(route("whishlist.toggle", { id: props.product.id }));
};

const productImageJpg = computed(() => {
    //console.log(props.product.images); // Ver esto en la consola del navegador para verificar los datos
    const previewImage = props.product.images.find(image => image.is_preview);
    //console.log(previewImage); // Verificar qué imagen se está seleccionando
    return previewImage ? previewImage.url : '/images/ropa.jpg';
});

const isOnSale = computed(() => {
    return props.product.state_id === 2;
});
//solo mostrar delete si userRole es 1:

const deleteProduct = (id) => {
  if (confirm("¿Estás seguro de que deseas eliminar este producto?")) {
    Inertia.delete(route("admin.products.destroy", { id }));
  }
};
const editProduct = (id) => {
  Inertia.get(route("admin.products.edit", { product: id }));
};
</script>
<template>
    <div class="flex flex-col items-center justify-center relative border">
      <div class="h-72 w-full relative border-b">
        <div class="h-2/3 w-full px-3 relative" :class="{ 'on-sale': isOnSale }">
           <a :href="route('product.show', { slug: product.slug })" class="absolute top-0 left-0 w-full h-full z-10">
          <div class="relative w-full h-full">
            <img :src="productImageJpg" alt="product_image" class="w-full h-full object-contain" />
            <div v-if="isOnSale" class="absolute top-2 right-2 bg-red-500 text-white px-2 py-1 text-xs font-semibold on-sale-label z-10">{{ $t('EnOferta') }}</div>
          </div>
        </a>
          
        </div>
  
        <div class="h-1/3 w-full p-2 pt-6">

          <div class="flex items-start justify-between space-x-4">
            <div class="flex-grow ">
              <span class="block text-[13px] font-medium leading-4 ">{{
                product.name
              }}</span>
              <span class="block text-xs text-zinc-500">
                {{ $t(product.category.name) }}
              </span>
            </div>

            
            <span class="whitespace-nowrap text-[13px]">
              <span class="font-medium text-c-green-600">$</span>
              {{ product.price }}
            </span>
          </div>
          <div class="absolute top-2 left-2 z-30">
            <form @submit.prevent="toggleWhishlist()">
              <button type="submit">
                <svg
                  :class="
                    inWhishlist(product.id)
                      ? 'text-red-500'
                      : 'text-zinc-500 hover:text-red-500'
                  "
                  class="w-6 h-6 flex-none"
                  fill="none"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"
                  ></path>
                </svg>
              </button>
            </form>
          </div>
        </div>
      </div>
      <div v-if="userRole===1" class="flex-grow w-full flex justify-center items-center space-x-2 mt-2">
      
        <button
          @click="deleteProduct(product.id)"
          class="px-1 py-1 bg-red-400 text-white rounded flex-1 mr-2"
        >
          {{ $t('Delete') }}
        </button>
        <button
          @click="editProduct(product.id)"
          class="px-1 py-1 bg-c-green-400 text-white rounded flex-1"
        >
          {{ $t('Edit') }}
        </button>
    </div>

    </div>
  </template>
  
<style scoped>

.on-sale::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
}

.on-sale-label {
  z-index: 1;
}
</style>