<script setup>
    import MiniCart from "@/Components/ShopNavbar/MiniCart.vue";
    import UserMenu from "@/Components/ShopNavbar/UserMenu.vue";
    import TheWhishlist from '@/Components/ShopNavbar/TheWhishlist.vue'
    import { useStore } from 'vuex';
    import { Inertia } from '@inertiajs/inertia';
    import { ref } from 'vue';
    
    const store = useStore();

const toggleUserRole = () => {
    Inertia.post(route('user.toggle-role'), { user_id: store.state.user.id }, {
        onSuccess: (response) => {
            console.log("Rol cambiado exitosamente a:", response.data.new_role);
            const updatedUser = { ...store.state.user, role_id: response.data.new_role };
            store.commit('setUser', updatedUser);
        }
    });
};

const switchPosition = ref(false);

const toggleSwitch = (event) => {
    if (!event.target.classList.contains('bg-c-green-600')) {
        switchPosition.value = !switchPosition.value;
    }
};
</script>

<template>
    <div>
        <nav class="bg-white border-b border-zinc-200">
            <div class="max-w-7xl mx-auto px-6 py-4">
                <div class="flex justify-between">
                    <!-- Left Side -->
                    <div class="flex items-center space-x-2">
                        <h1 class="text-base font-medium uppercase">
                            <Link :href="route('shop')"><span style="color: rgb(90, 132, 78)">Inertia</span>{{$t('Shop')}}</Link>
                        </h1>
                    </div>

                    <!-- Switch -->
                    <!-- Center Side-->
                    <div  
                        class="w-full max-w-sm rounded m-auto flex-col relative"
                        @click="toggleSwitch"
                    >
                        <div class="mx-8 shadow rounded-full h-10 mt-4 flex p-1 relative items-center">
                            <div class="w-full flex justify-center">
                                <button @click="$i18n.locale = 'es'">{{$t ('Spanish') }}</button>
                            </div>
                            <div class="w-full flex justify-center">
                                <button @click="$i18n.locale = 'en'">{{$t ('English') }}</button>
                            </div>
                            <span 
                                class="bg-c-green-600 shadow text-white flex items-center justify-center w-1/2 rounded-full h-8 transition-all top-[4px] absolute"
                                :style="{ left: switchPosition ? 'calc(100% - 150px - 12px)' : '0' }">
                            </span>
                        </div>
                    </div>
                    <div>
                        
            <!-- <button @click="toggleUserRole" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                 Cambiar Rol
             </button>  -->
        
                    </div>

                    <!-- Right Side -->
                    <div class="flex items-center">
                        <TheWhishlist class="mr-1"></TheWhishlist>
                        <UserMenu class="mr-1" :user="$page.props.auth.user" />
                        <MiniCart :user="$page.props.auth.user" />
                    </div>
                </div>
            </div>
        </nav>
    </div>
</template>

