<script setup>
import GuestLayout from "@/Layouts/GuestLayout.vue";
import InputError from "@/Components/Breeze/InputError.vue";
import InputLabel from "@/Components/Breeze/InputLabel.vue";
import PrimaryButton from "@/Components/Breeze/PrimaryButton.vue";
import TextInput from "@/Components/Breeze/TextInput.vue";
import { Head, useForm } from "@inertiajs/inertia-vue3";

const form = useForm({
    password: "",
});

const submit = () => {
    form.post(route("password.confirm"), {
        onFinish: () => form.reset(),
    });
};
</script>

<template>
    <GuestLayout>
        <Head title="Confirm Password" />

        <div class="mb-4 text-sm text-gray-600">
        
            {{$t ('ThisIsASecureAreaOfTheApplicationPleaseConfirmYourPasswordBeforeContinuing:') }}
        </div>

        <form @submit.prevent="submit">
            <div>
                <InputLabel for="password" value="Password" />
                <TextInput
                    id="password"
                    type="password"
                    class="mt-1 block w-full"
                    v-model="form.password"
                    required
                    autocomplete="current-password"
                    autofocus
                />
                <InputError class="mt-2" :message="form.errors.password" />
            </div>

            <div class="flex justify-end mt-4">
                <PrimaryButton
                    class="ml-4"
                    :class="{ 'opacity-25': form.processing }"
                    :disabled="form.processing"
                >
                    {{$t('Confirm')}}
                </PrimaryButton>
            </div>
        </form>
    </GuestLayout>
</template>
